<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/auth.css" />
    <link rel="stylesheet" href="../static/css/spot_id.css" />
    <!-- <link rel="stylesheet" href="../../static/css/auth.css" /> -->

  </head>
<body>
<!-- {% extends 'base.html' %}
{% block title %} -->
<title>釣りスポット選択</title>
<!-- {% end block %}
{% block body %} -->
<div class="wrapper">
    <header class="auth-header">
        <a class="spot_text" href="prefectures_view">＜海</a>
        <h1>北海道</h1>
        <a class="spot_text" href="categorias_view">HOME</a>
    </header>
    <!-- スポット追加「＋」 -->
     <div class="add_spot">
        <a class="add_spot" href="">＋</a>
     </div>
    <!-- スポット一覧を表示 -->
     <div class="spot_section">
        <ul class="spot_list">
            <li>知床</li>
            <li>熊石海岸</li>
            <li>かなやま湖</li>
            <li>音別海岸部</li>
            <li>広尾町</li>
        </ul>
     </div>







</div>
</body>
<!-- {% end block %} -->