<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/auth.css" />
    <link rel="stylesheet" href="../../static/css/add.css" />
    <!-- <link rel="stylesheet" href="../../static/css/auth.css" /> -->

  </head>
<body>
<!-- {% extends 'base.html' %}
{% block title %} -->
<title>新規釣りスポット追加</title>
<!-- {% end block %}
{% block body %} -->
<div class="wrapper">
        <div class="close_window">
            <a href="spot_id.html">戻る</a>
        </div> 
        <h1>新規釣りスポット追加</h1>
    <!-- 釣りスポットを新しく追加 -->
    <label for="spot-room-input" class="auth-password">釣りスポット名</label><br>
    <input class="auth-text"
        type="text"
        placeholder="釣りスポット名を入力"
        name="add-spot-room"
        id="spot-room-input"
    />

    <button class="auth-button">追加</button>





</div>
</body>
<!-- {% end block %} -->