
<title>categories</title>
<div class="wrapper">
    <form method="post">
        <header>
            <a href="information_view">アカウント</a>
            <a href="login_view">ログアウト</a>
        </header>
        <h1 class="auth-title">Wellcom!!<br>
        Fising Chat</h1>
    <div>
        <img src="img/main.jpg" alt="logo" />
    </div>
    <h2>どこで釣りする？</h2>
    <div>
        <input 
        type="image"
        src="sea.jpg"
        name="sea.button"
        alt="海ルーム"
        value="海"
        />
        <input
        type="image"
        src="river.jpg"
        name="river.button"
        alt="川ルーム"
        value="川"
        />
        <input
        type="image"
        src="lake.jpg"
        name="lake.button"
        alt="湖ルーム"
        value="湖"
        />   
    </div>
    </form>
</div>
{% endblock %}