{% extends 'auth/base.html' %} {% block title %}
<title>login</title>
{% endblock %}{% block body %}
<div class="wrapper">
  <form method="post" action="{{ url_for('login_process') }}">
    <h1 class="auth-title">Fishing BBS</h1>
    <div>
      <label for="email-input" class="auth-email">メールアドレス</label><br>
      <input class="auth-text"
        type="text"
        placeholder="メールアドレスを入力してください"
        name="email"
        id="email-input"
      />  
    </div>
    <div>
      <label for="password-input" class="auth-password">パスワード</label><br>
      <input class="auth-text"
        type="password"
        placeholder="パスワードを入力してください"
        name="password"
        id="password-input"
      />
    </div>
    <div>
      {% with message = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <input type="submit" value="ログインして進む" class="auth-button">
    </div>
    <div>
      <a class="signup_button" href="{{ url_for('register_view') }}">新規会員登録</a>
      <p class="guidance">会員登録がお済みでない方</p>
    </div>
  </form>
</div>
{% endblock %}
