{% extends 'auth/base.html' %} {% block title %}
<title>spot</title>
{% endblock %} {% block body %}
<div class="wrapper">
    <form method="get">
        <header class="auth-header">
            <img class="logo" src="../../static/img/logo.png" alt="ロゴ" />
            <a  href="{{ url_for('categories_view') }}">
                <img class="home"
                src="../../static/img/home.png" alt="ホーム" />
            </a>
        </header>
        <h1 class="prefectures_title">都道府県から釣り場を探す</h1>
        <div class="spots">
            <div class="prefectures_box">
                <h2>北海道・東北</h2>
                <a class="spot_button" href="{{ url_for('spots_view',pid=1) }}">北海道</a>
                <a class="spot_button" href="{{ url_for('spot_view',pid=2) }}">青森県</a>
                <a class="spot_button" href="{{ url_for('spot_view',pid=3) }}">岩手県</a><br>
                <a class="spot_button" href="{{ url_for('spot_view',pid=4) }}">宮城県</a>
                <a class="spot_button" href="{{ url_for('spot_view',pid=5) }}">秋田県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=6) }}">山形県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=7) }}">福島県</a>
            </div>
            <div class="prefectures_box">
                <h2>関東</h2>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=8) }}">茨城県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=9) }}">栃木県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=10) }}">群馬県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=11) }}">埼玉県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=12) }}">千葉県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=13) }}">東京都</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=14) }}">神奈川県</a>
            </div>
            <div class="prefectures_box">
                <h2>中部</h2>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=14) }}">新潟県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=15) }}">富山県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=16) }}">石川県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=17) }}">福井県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=18) }}">山梨県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=19) }}">長野県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=20) }}">岐阜県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=21) }}">静岡県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=22) }}">愛知県</a>
            </div>
            <div class="prefectures_box">
                <h2>近畿</h2>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=23) }}">三重県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=24) }}">滋賀県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=25) }}">京都府</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=26) }}">大阪府</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=27) }}">兵庫県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=28) }}">奈良県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=29) }}">和歌山県</a>
            </div>
            <div class="prefectures_box" >
                <h2>四国</h2>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=30) }}">徳島県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=32) }}">香川県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=33) }}">愛媛県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=34) }}">高知県</a>
            </div>
            <div class="prefectures_box">
                <h2>九州・沖縄</h2>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=35) }}">福岡県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=36) }}">佐賀県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=37) }}">長崎県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=38) }}">熊本県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=39) }}">大分県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=40) }}">宮崎県</a><br>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=41) }}">鹿児島県</a>
                <a class="spot_button" href="{{ url_for('spot_room_view',sid=42) }}">沖縄県</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}