{% extends 'auth/base.html' %}
{% block title %}
    <title>register</title>
{% endblock %}
{% block body %}
<div class="wrapper">
    <header class="register-header">
        <a href="{{ url_for('login_view') }}" class="back">＜戻る</a>
    </header>

        <!-- ここからアカウント登録フォーム -->
    <form method="post">
        <h1>アカウント登録</h1>
        <div>
            <label for="register-name-input" class="auth-name">アカウント名</label><br>
            <input class="auth-text"
                type="text"
                placeholder="アカウント名を入力してください"
                name="user_name"
                id="register-name-input"
            />
        </div>
        <div>
            <label for="register-email-input" class="auth-email">メールアドレス</label><br>
            <input class="auth-text"
                type="text"
                placeholder="メールアドレスを入力してください"
                name="email"
                id="register-email-input"
            />
        </div>
        <div>
            <label for="register-password-input" class="auth-password">パスワード</label><br>
            <input class="auth-text"
                type="password"
                placeholder="パスワードを入力してください"
                name="password"
                id="register-password-input"
            />
        </div>
        <div>
            <label for="register-password-confirmation-input" class="auth-password">パスワード確認</label><br>
            <input class="auth-text"
                type="password"
                placeholder="パスワードを入力してください"
                name="password-confirmation"
                id="register-password-confirmation-input"
            />
        </div>
            <!-- 登録ボタン -->
        <div class="auth-button-container">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <button class="auth-button">アカウント登録</button>
        </div>
    </form>
</div>
{% endblock %}
