{% extends 'auth/base.html' %} {% block title %}
<title>釣りスポット選択</title>
{% end block %}{% block body %}
<div class="wrapper">
    <header class="auth-header">
        <!-- <a class="spot_text" href="prefectures_view">＜海</a> -->
        <a class="spot_text" href="{{ url_for('prefectures_view') }}"></a>
        <h1>北海道</h1>
        <a class="spot_text" href="categorias_view">HOME</a>
    </header>
    <!-- スポット追加「＋」 -->
     <div class="add_spot">
        <a class="add_spot" href="spots_view">＋</a>
     </div>
    <!-- スポット一覧を表示 -->
     <div class="spot_section">
        <ul class="spot_list">
          {% for spot in spots %}
            <li>{{ spot.spot_name }}</li>
          {% endfor %}
            
        </ul>
     </div>







</div>
</body>
{% end block %}