{% extends 'auth/base.html'}
{% block title %}
<title>spot</title>
{% endblock %}
{% block body %}
<div class="wrapper">
    <form method="get">
        <header>
            <P>Fishing Chat</P>
            <a href="categories.view">
                <img src="../../static/img/home.png" alt="ホーム" />
            </a>
        </header>
        <h1>都道府県から釣り場を探す</h1>
        <div>
            <div>
                <h2>北海道・東北</h2>
                <a href="spot_room.view">北海道</a>
                <a href="spot_room.view">青森県</a>
                <a href="spot_room.view">岩手県</a>
                <a href="spot_room.view">宮城県</a>
                <a href="spot_room.view">秋田県</a>
                <a href="spot_room.view">山形県</a>
                <a href="spot_room.view">福島県</a>
            </div>
            <div>
                <h2>関東</h2>
                <a href="spot_room.view">茨城県</a>
                <a href="spot_room.view">栃木県</a>
                <a href="spot_room.view">群馬県</a>
                <a href="spot_room.view">埼玉県</a>
                <a href="spot_room.view">千葉県</a>
                <a href="spot_room.view">東京都</a>
                <a href="spot_room.view">神奈川県</a>
            </div>
            <div>
                <h2>中部</h2>
                <a href="spot_room.view">新潟県</a>
                <a href="spot_room.view">富山県</a>
                <a href="spot_room.view">石川県</a>
                <a href="spot_room.view">福井県</a>
                <a href="spot_room.view">山梨県</a>
                <a href="spot_room.view">長野県</a>
                <a href="spot_room.view">岐阜県</a>
                <a href="spot_room.view">静岡県</a>
                <a href="spot_room.view">愛知県</a>
            </div>
            <div>
                <h2>近畿</h2>
                <a href="spot_room.view">三重県</a>
                <a href="spot_room.view">滋賀県</a>
                <a href="spot_room.view">京都府</a>
                <a href="spot_room.view">大阪府</a>
                <a href="spot_room.view">兵庫県</a>
                <a href="spot_room.view">奈良県</a>
                <a href="spot_room.view">和歌山県</a>
            </div>
            <div>
                <h2>四国</h2>
                <a href="spot_room.view">徳島県</a>
                <a href="spot_room.view">香川県</a>
                <a href="spot_room.view">愛媛県</a>
                <a href="spot_room.view">高知県</a>
            </div>
            <div>
                <h2>九州・沖縄</h2>
                <a href="spot_room.view">福岡県</a>
                <a href="spot_room.view">佐賀県</a>
                <a href="spot_room.view">長崎県</a>
                <a href="spot_room.view">熊本県</a>
                <a href="spot_room.view">大分県</a>
                <a href="spot_room.view">宮崎県</a>
                <a href="spot_room.view">鹿児島県</a>
                <a href="spot_room.view">沖縄県</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}