.wrapper {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-size: 48px;
}

.auth-email {
  font-weight: bold;
}

.auth-password {
  font-weight: bold;
}